src/main/resources/xsd/ext_ro.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema targetNamespace="urn:org:domainrobot:ns:contact:ro-1.0"
	xmlns:ro="urn:org:domainrobot:ns:contact:ro-1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<element name="contact" type="ro:contactType" />

  <complexType name="contactType">
    <sequence>
      <element name="personType" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
</schema>

