src/main/resources/xsd/ext_aero.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema targetNamespace="urn:org:domainrobot:ns:contact:aero-1.0"
	xmlns:aero="urn:org:domainrobot:ns:contact:aero-1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<element name="contact" type="aero:contactType" />
	<complexType name="contactType">
		<sequence>
			<element name="ensAuthId" type="string" minOccurs="0" />
			<element name="ensKey" type="string" minOccurs="0" />
		</sequence>
	</complexType>
</schema>