src/main/resources/xsd/ext_scot.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema targetNamespace="urn:org:domainrobot:ns:contact:scot-1.0"
	xmlns:scot="urn:org:domainrobot:ns:contact:scot-1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<element name="contact" type="scot:contactType" />


	<complexType name="contactType">
		<sequence>
			<element name="intended_use" type="string"
				minOccurs="0" />
		</sequence>
	</complexType>
</schema>
