src/main/resources/xsd/ext_cat.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema targetNamespace="urn:org:domainrobot:ns:contact:cat-1.0"
	xmlns:cat="urn:org:domainrobot:ns:contact:cat-1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<element name="contact" type="cat:contactType" />

	<complexType name="contactType">
		<sequence>
			<element name="intendedUse" type="string" minOccurs="0" />
		</sequence>
	</complexType>
</schema>

