src/main/resources/xsd/ext_ie.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema targetNamespace="urn:org:domainrobot:ns:contact:ie-1.0"
	xmlns:ie="urn:org:domainrobot:ns:contact:ie-1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:contact="urn:ietf:params:xml:ns:contact-1.0" elementFormDefault="qualified">
	<import namespace="urn:ietf:params:xml:ns:contact-1.0"
		schemaLocation="rfc5733_contact_mapping.xsd" />
	<element name="contact" type="ie:contactType" />
	<complexType name="contactType">
		<sequence>
			<element name="ie_contact_type" type="string"
				minOccurs="0" />
			<element name="ie_supporting_number" type="string"
				minOccurs="0" />
		</sequence>
	</complexType>
</schema>

	
	
	
