src/main/resources/xsd/ext_it.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema targetNamespace="urn:org:domainrobot:ns:contact:it-1.0"
	xmlns:it="urn:org:domainrobot:ns:contact:it-1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<element name="contact" type="it:contactType" />

  <complexType name="contactType">
    <sequence>
      <element name="entityType" type="int" minOccurs="0"/>
    </sequence>
  </complexType>
</schema>

